.button-store {
  display: inline-block; /*Insere elementos um ao lado do outro e  disponibiliza propriedade width e height */
  font-size: 20px;
  color: #ffffff;
  background: #252c41;
  font-family: Arial, "Roboto", sans-serif;
  width: 200px;
  height: 60px;
  /*quando temos 1 linha de texto é possivel alinhar verticalmente no centro, colocando na propriedade line-height = propriedade height = 60px neste caso*/
  line-height: 60px;
  margin-right: 0;
  text-align: center; /*Alinha o texto do botão horizontalmente   no centro */
  text-decoration: none; /*elimina o sublinhado do texto*/
}

/* .button-store.-second  Significa:  Deve existir a  classe button-store E a classe -second, declarada no elemento HTML, para funcionar corretamente.*/
.button-store.-second {
  background-color: transparent;
  border: 2px solid #fff; /*espessura, tipo, cor*/
  box-sizing: border-box; /*A borda faz parte da caixa*/
  width: 218px;
  line-height: 56px;
}
